:root {
  --primary-color: #9DC08B;
  --secondary-color: #609966;
  --dunkelcolor: #40513B;
  --leightcolor:#EDF1D6;
}


body {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

:root {
  --primary-color: #9DC08B;
  --secondary-color: #609966;
  --dunkelcolor: #40513B;
  --leightcolor:#EDF1D6;
}



/* header{
  width: 100%;
  height: 50px;
  background-color: aquamarine;
} */
.navbar {
    background-color: var(--primary-color);
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    padding: 0 10px;
  }
  
  .nav-links li a:hover {
    background-color:var(--secondary-color);
  }
  .titel{
   display: flex;
   flex-direction: row;

  }
  .titel image{
    background-image:url(../image/fitfood.webp) ;
    height: 100px;
    width: 100px;
  }