body {
  background-color: var(--primary-color);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

:root {
  --primary-color: #749F82;
  --secondary-color: #A8E890;
  --dunkelcolor: #425F57;
  --leightcolor: #CFFF8D;
}





.logo-icon-container {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    width: 30px; /* Adjust the width and height as needed */
    height: 30px;
  }
  .navbar-full-width {
    width: 100%;
    height: 50px;
  }
  