body {
    font-family: 'DM Serif Display', serif;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #749F82;
    --secondary-color: #A8E890;
    --dunkelcolor: #425F57;
    --leightcolor: #CFFF8D;
}



 .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap:250px;

}

.nav-logo img {
    height: 150px;
    /* margin-left: 10px; */
    width: 150px;
    
}

.nav-links {
    list-style-type: none;
    display: flex;
    font-size: 40px;
    gap: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-right: 20px;
    color: var(--primary-color);
  
} 
.llink {
    /* height: 40px;
    width: 100px;
    padding: 50px 50px;  */
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

/* 
element.style {
} */
.nav-links li a{
    height: 80px;
    width: 40px;

}
.nav-links li a {
    font-size: 30px;
}

.nav-links li{
    color: #000;
    font-size: 30px;
}

.logoname{
    height: 100px;
    width: 250px;
    margin-left: 20px;
}


.mot {
    height: 75px;
    width: 300px;
    line-height: 2;
    margin-bottom: 20px;
    text-align: left;
}

p {
    font-size: 16px;
}

.but {
    padding: 10px 30px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

.socialmedia img {
    width: 40px;
    height: 40px;

}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-left: 20px;

}

.continer {

    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}



 .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:200px;
    flex-wrap: wrap;
    
 }
.maslo{
    height: 400px;
    width: 400px;
}
.two{
    margin-top:100px ;
    
}


.cards {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 250px;
   height: 300px;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: 15px 15px 30px #bebebe,
        -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

    margin-top: 50px;
    margin-bottom:50px ;

    padding: 50px;
}
.card p{
    font-size: 14px;
}

.photo {
    width: 150px;
    height: 140px;
}
.two h1{
   text-align: center;

}
.three{
    min-height: 500px;
}
.three h1{
    text-align: center;
    margin-top: 50px;
   
 }
 /* .kards{
    display: flex;
    flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
    gap:50px
 } */
 .foto{
    height: 100px;
    width: 100px;
 }

 .fotoo{

    height: 400px;
    width: 400px;
 }

 .kards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    justify-content: center;
    margin-top: 80px;
 }

 .kardp{
    height: 400px;
    width: 400px;
    /* margin-top: p; */
    font-size: 17px;
    line-height: 2;
    text-align: justify;
 }
