
:root {
    --primary-color: #9DC08B;
    --secondary-color: #609966;
    --dunkelcolor: #40513B;
    --leightcolor:#EDF1D6;
  }
  body {
    background-color: var(--primary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }
  
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }
  .imgg{
    height: 160px;
    width: 180px;
    border-radius: 10px;
  }
  .call{
    margin-top: 50px;
    padding: 10px 15px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px #9DC08B(0, 0, 0, 0.5);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
  }
  .book {
    position: relative;
    border-radius: 10px;
    width: 280px;
    height: 400px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #9DC08B;
    box-shadow: 1px 1px 18px #9DC08B;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-top: 40px;
    
  
  }

  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 2.9s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    text-align: center;
  
    padding-top: 10px;

  }

 .ing {
  font-size: 14px;
  font-weight: bolder;
  margin-left: 20px;
  margin-top: 20px;
}
.con{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 50px;
justify-content: space-between;
margin: 30px 20px;
}
.cll{
  padding: 10px 15px;
 
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
}
.textm{
  padding: 20px 15px;
   margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    
    background-color: #79777747;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(72, 66, 66, 0.27);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 100%;
}
@media only screen and (max-width: 600px) {

  .book {
    margin-left: 31px;

}
}