body {
    font-family: 'DM Serif Display', serif;

    box-sizing: border-box;

    margin: 0;
    padding: 0;

}

:root {
    --primary-color: #749F82;
    --secondary-color: #A8E890;
    --dunkelcolor: #425F57;
    --leightcolor: #CFFF8D;
}




.lcard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px  !important;

    margin: 0 auto;
  }
  
  .heading {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  
  .alert-danger {
    color: red;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputContainer {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .sub {
    width: 100%;
    padding: 10px;
    background-color: var(--secondary-color);
    color: rgb(1, 1, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .sub:hover {
    background-color: var(--secondary-color);
  }
  
  .pass {
    text-align: right;
    margin-top: 10px;

  }
  .passs{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .up {
    text-align: center;
    margin-top: 20px;
  }
  .nav-log img {
    height: 150px;
    margin-left: 90px;
    width: 150px;
    
}